name: Deploy Swagger to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-swagger-ui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install swag
        run: go install github.com/swaggo/swag/cmd/swag@latest

      - name: Generate Swagger files
        run: |
          # Di chuyển vào thư mục server2 và chạy swag init
          # -g chỉ định file main của server để swag bắt đầu quét
          cd server2
          ~/go/bin/swag init -g cmd/server/main.go -o ./docs

      - name: Debug - Show content of swagger.json
        run: cat server2/docs/swagger.json

      - name: Prepare Swagger UI for deployment
        run: |
          mkdir -p public

          SWAGGER_UI_VERSION="v5.17.14"
          wget https://github.com/swagger-api/swagger-ui/archive/refs/tags/${SWAGGER_UI_VERSION}.zip
          unzip ${SWAGGER_UI_VERSION}.zip
          cp -r swagger-ui-*/dist/* public/

          cp server2/docs/swagger.json public/

          sed -i 's|https://petstore.swagger.io[^"]*|./swagger.json|g' public/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Tải lên thư mục public
          path: ./public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
